<h1>Signin</h1>
<%= form_for(:session, url:signin_path) do |f| %>
	<%= f.label :name, "Nom"%>
	<br>
	<%= f.text_field :name, class: "form_control" %>
	<br>

	<%= f.label :password_digest, "Mot de passe" %>
	<br>
	<%= f.password_field :password_digest, class: "form_control" %>
	<br>
	<br>

	<%= f.submit "Signin", class: "btn btn-primary" %>
<% end %>
